html, body, #doc, #page-outer {
    height: 100%
}

body {
    background: #e6ecf0;
    color: #14171a;
    font-size: 14px;
    line-height: 20px;
    overflow-y: scroll
}

.module {
    background-clip: padding-box;
    border: 0;
    position: relative;
    margin-bottom: 10px
}

.wrapper{
    margin: 0 auto;
    min-height: 0;
    padding: 56px 23px 15px;
    position: relative;
    width: 890px
}

@media (min-width: 1236px) {
    body.three-col .wrapper {
        width: 1190px
    }

    body.three-col .wrapper-narrow, body.three-col .wrapper-permalink {
        width: 642px
    }
}

.content-main {
    float: right;
    width: 580px;
    margin-right: 130px;
}

.top-timeline-tweet-box-user-image {
    left: 28px;
    position: absolute;
    top: 13px
}

.top-timeline-tweetbox .timeline-tweet-box {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border: 1px solid #e6ecf0
}

.top-timeline-tweetbox .tweet-user {
    border-radius: 0;
    position: relative
}

.top-timeline-tweetbox .timeline-tweet-box .t1-form {
    margin-left: 56px
}

.tweet-form .tweet-content {
    position: relative;
    margin-bottom: 8px
}

.tweet-form.condensed .tweet-content {
    margin: 0
}

.tweet-form .tweet-box {
    min-height: 64px;
    overflow: hidden;
    padding: 8px;
    vertical-align: top;
    width: auto
}

.tweet-form .tweet-box-overlay {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    bottom: 1px;
    display: none;
    left: 1px;
    position: absolute;
    right: 1px;
    top: 1px;
    z-index: 10
}

.content-header, .content-no-header {
    border: 1px solid #e6ecf0;
    border-bottom-width: 0;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    background-clip: padding-box
}

.win10-wrapper .content-header {
    border: 0;
    border-radius: 0
}

.content-header {
    border-bottom-width: 0
}

.content-header .header-inner {
    min-height: 20px;
    padding: 12px;
    background-color: #fff;
    border-bottom: 1px solid #e6ecf0;
    border-radius: 0
}

.win10-wrapper .content-header .header-inner {
    border-radius: 0
}

.content-header .content-type {
    font-weight: normal
}

.content-header .header-inner.not-rounded {
    border-radius: 0
}

.content-header-buttons .btn {
    float: right;
    padding: 2px 8px;
    margin-top: -1px
}

.content-header-buttons .btn-link {
    float: right;
    margin-top: 3px
}

.content-header .subheader {
    color: #657786;
    margin-top: 3px
}

.content-no-header {
    border-bottom-width: 1px;
    border-radius: 6px
}

.dashboard {
    float: left;
    width: 290px;
}

.DashboardProfileCard {
    border: 1px solid #e6ecf0;
    background: #fff;
}

.module {
    background-clip: padding-box;
    border: 0;
    position: relative;
    margin-bottom: 10px;
}

.EdgeButton--primary:focus {
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #D3C1EA;
}

.EdgeButton--primary, .EdgeButton--primary:focus {
    background-color: #A784D6;
    border-color: transparent;
}

.EdgeButton--primary:focus {
    border-color: #1da1f2;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #71c9f8;
    color: #fff;
}

.EdgeButton:active, .EdgeButton:focus, .EdgeButton:hover {
    text-decoration: none;
}

.btn:focus, .btn.focus, .Button:focus, .EmojiPicker-item.is-focused, .EmojiPicker .EmojiCategoryIcon:focus, .EmojiPicker-skinTone:focus + .EmojiPicker-skinToneSwatch, a:focus > img:first-child:last-child, button:focus {
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 2px 4px rgba(146, 102, 204, 0.4);
}

button:focus {
    outline: 0;
    box-shadow: 0 0 0 2px #fff, 0 0 2px 4px rgba(0, 132, 180, 0.5);
}

.EdgeButton--primary {
    background-color: #1da1f2;
    border: 1px solid #1da1f2;
    border-top-color: rgb(29, 161, 242);
    border-right-color: rgb(29, 161, 242);
    border-bottom-color: rgb(29, 161, 242);
    border-left-color: rgb(29, 161, 242);
    color: #fff;
}

.EdgeButton, .EdgeButton:visited {
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

button {
    border: 0;
}

button {
    background: transparent;
    background-color: transparent;
    border: 0;
    padding: 0;
    transition: box-shadow .15s ease-in-out;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
}

.LoginForm input {

    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 12px;
    width: 100%;

}

.SignupForm-header {

    margin: 10px 0;

}

.EdgeButton--secondary {

    background-color: #fff;
    border: 1px solid #1da1f2;
    color: #1da1f2;

}

.EdgeButton--medium {

    font-size: 14px;
    line-height: 20px;
    padding: 6px 16px;

}

.EdgeButton, .EdgeButton:visited {

    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    white-space: nowrap;

}

.signin-dialog-body {
    background: #fff;
    margin-left: 35%;
    margin-top: 6%;
    margin-right: 35%;
    padding: 15px 10px;
}

input, textarea, div[contenteditable], .t1-select {
    display: inline-block;
    width: 210px;
    padding: 4px;
    margin: 0;
    margin-top: 0px;
    outline: 0;
    background-color: #fff;
    border: 1px solid #e6ecf0;
    border-top-color: rgb(230, 236, 240);
    border-right-color: rgb(230, 236, 240);
    border-bottom-color: rgb(230, 236, 240);
    border-left-color: rgb(230, 236, 240);
    border-radius: 3px;
}

a {
    color: #1c94e0;
    text-decoration: none;

}

a {
    background: transparent;
}

.LoginForm-rememberForgot {
    font-size: 12px;
}

.LoginForm label, .LoginForm .separator {
    color: #657786;
}

.LoginForm input[type="checkbox"] {
    width: auto;
}

.LoginForm input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 12px;
    width: 100%;
}

input[type="checkbox"], input[type="radio"] {
    width: auto;
    height: auto;
    padding: 0;
    line-height: normal;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}

input[type="checkbox"], input[type="radio"] {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.tweet-box {
    margin-top: 10px
}

.tweets-wrapper .panel {
    margin-bottom: 5px !important;
}

.disable {
    background: gray;
    cursor: not-allowed !important;
}

@media (max-width: 800px) {
    .signin-dialog-body {
        background: #fff;
        margin-left: 10%;
        margin-top: 6%;
        margin-right: 10%;
        padding: 10px 10px;
    }
}

.dropdown-menu .hlabel {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: bold;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-left-5 {
    margin-left: 5px;
}

.width-100 {
    width: 100px;
}

.soft-disable {
    background: aliceblue;
}

.big-icon {
    font-size:1.6em;
}

.red {
    color: red;
}

.edit-wrapper a {
    vertical-align: bottom;
}